@import "variables";

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin transform {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
}
